{erl_first_files, []}.
{erl_opts,
    [debug_info, fail_on_warning, % warnings_as_errors,  warn_missing_spec
        {parse_transform, lager_transform}
    ]
}.

{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {hawk, ".*",
      {git, "https://github.com/ruanpienaar/hawk", {branch,"master"}}},
  {reloader, ".*",
      {git,"https://github.com/oinksoft/reloader.git",{branch,"master"}}},
  {getopt, ".*",
      {git, "https://github.com/jcomellas/getopt", {branch, "master"}}},
  {stout, ".*",
      {git, "https://github.com/eproxus/stout", {branch, "master"}}}
]}.
{sub_dirs,[]
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.

{eunit_opts, [verbose, debug_info]}.
{eunit_compile_opts, [{i, "../"}]}.

%{require_min_otp_vsn, "*18*|19*"}.

{escript_incl_apps, [hawk, stout, color, getopt, lager, goldrush]}.
{escriptize, goanna}.
