{erl_first_files, []}.
{erl_opts,
    [fail_on_warning,
        {parse_transform, lager_transform}
    ]
}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {lager,".*",
      {git, "https://github.com/basho/lager",{branch,"master"}}},
  {reloader, ".*",
      {git,"https://github.com/oinksoft/reloader.git",{branch,"master"}}},
  {getopt, ".*",
      {git, "https://github.com/jcomellas/getopt", {branch, "master"}}}
]}.
{sub_dirs,[]
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.

{eunit_opts, [verbose, debug_info]}.
{eunit_compile_opts, [{i, "../"}]}.

{require_min_otp_vsn, "18*|19*"}.

{escript_incl_apps, [getopt, lager, goldrush]}.
{escriptize, goanna}.
