{erl_first_files, []}.
{erl_opts,[debug_info, fail_on_warning, warnings_as_errors, {d, 'VSN'}]}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {eper, ".*",
      {git, "https://github.com/ruanpienaar/eper", {branch,"master"}}},
  {hawk, ".*",
      {git, "https://github.com/ruanpienaar/hawk", {branch,"master"}}}
]}.
{sub_dirs,[]
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
{eunit_opts, [verbose, debug_info]}.
{eunit_compile_opts, [{i, "../"}]}.
%{require_min_otp_vsn, "*18*|19*"}.
{escript_incl_apps, [hawk]}.
{escriptize, goanna}.
