[
 %%{kernel,[
 %%   {error_logger, {file, "log/error.log"}},
 %%   {error_logger_format_depth, 50}
 %%]},

 {kernel,[
    {error_logger, silent}
 ]},

 {kakapo,[
    {event_handler, [log_mf_h, goanna_trace_logger]}, %% [kakapo_h | log_mf_h]
    {log_dir, "log/"},
    {log_file_size, 5242880}, %% Bytes 5 * 1024 * 1024 ( 5Mb )
    {log_file_max, 100}, %% Max == 256
    {tty, false}
 ]},

 {goanna,[
    %% {push, Interval, PushModule} | pull
    {data_retrival_method,
	% {push, 250, goanna_shell_printer}
	pull
    },

    % if not set, forwards 1 for 1...
    {push_data_batch_size, 100}, % non_neg_integer()

    % Nodes to apply traces on.
    {nodes, [
	[{node,'p1@pi1.cluster'}, {cookie,pasture}, {type,tcpip_port}]
	% [{node,'p1@localhost'}, {cookie,pasture}, {type,tcpip_port}]
    ]},

    % the max amount of times to try and reconnect, before a node is removed.
    {max_reconnecion_attempts, 100},

    %% TODO: allow initial traces to be setup, for startup when running the application
    %% Currently only escript is using this...
    {traces, [
	% [{module,mod}],
	% [{module,mod}, {function,func}],
        % [{module,mod}, {function,func}, {arity,0}],
	[{module, ets}]
    ]},

    %% trace options
    %% messages, can be excluded, implying an indefinite amount of messages.
    % {default_trace_options, [{time, 60000},{messages, 10}]},
    {default_trace_options, [
	{time, false},
	{messages, false}
    ]}

 ]},

 {hawk, [
        { conn_retry_wait, 10 },
        { connection_retries, 100 }
 ]},

 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

